.logo {
  display: inline-block;

  font-family: $secondary-font;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: $accent-color;

  &__secondary-part {
    font-family: $secondary-font;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: $logo-first-color;
  }
  &__secondary-part--light {
    color: $hero-color;
  }
}
